body{
    background-size : cover;
}
.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    color: white;
}
.note{
    font-size: 15px;
    color: black;
}
.div_speed{
    float: left;
}
.div_volume{
    float: right;
}